img{
    width: 400px;
    height: 400px;
}
.bloque1{
    background-color: rgb(60, 162, 79);
    display: flex;
    justify-content: center;
    gap: 32px;
}
.bloque2{
    background-color: rgb(244, 244, 137);
    display: flex;
    justify-content: center;
    gap: 32px;
}
.bloque3{
    background-color: #194894;
    display: flex;
    justify-content: center;
    gap: 32px;
}
.contenedor{
    margin: 48px;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
span {
    background-color: black;
    color: aliceblue;
    padding: 32px;
    text-align: center;
    font-size: 32px;
}